@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

/***************************************** HEADER ******************************************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header-btn {
  position: relative;
  color: white;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 75%
  );
  font-size: 28px;
  cursor: pointer;
  margin: 0px 5px;
  padding: 22px 24px;
  transition: color 600ms;
  min-width: 103px;
  text-align: center;
  overflow: hidden;
  border-color: rgba(255, 255, 255, 0.609);
  border-width: 1px;
  border-style: solid;
  transition: color 600ms, border-color 600ms;
}

.header-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 600ms ease;
  z-index: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.6);
}

.maroc::before {
  background-image: url("images/maroc/maroc-button.jpg");
}

.chine::before {
  background-image: url("images/china/china-button.jpg");
  background-size: 100%;
  background-position: 0px 0px;
}

.palestine::before {
  background-image: url("images/palestine/palestine-flag.jpg");
}

.pologne::before {
  background-image: url("images/pologne/pologne-flag.jpg");
}

.congo::before {
  background-image: url("images/congo/congo-flag.png");
  background-size: 100%;
  background-position: 0px -3px;
}

.italie::before {
  background-image: url("images/italie/italie-flag.png");
}

.header-btn:hover::before {
  opacity: 0.5;
}

.header-btn:hover {
  color: black;
  border-color: black;
}

.header-btn p {
  margin: 0;
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

/***************************************** FOOTER SECTION ******************************************/

/***************************************** LUCAS'S SECTION ******************************************/

/***************************************** BILLY'S SECTION ******************************************/
.billy-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.billy-page {
  min-height: 100%;
}

.billy-landing {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
}

.billy-landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/china/china-wall.jpg");
  background-size: cover;
  background-position: center;

  z-index: -1;
  filter: brightness(0.5);
}

.billy-title {
  font-size: 200px;
  font-weight: 900;
  margin-bottom: 20px;
  opacity: 0.5;
  cursor: default;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  transition: opacity 600ms, background-image 600ms;
}

.citation-container {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 20px;
  text-align: start;
  cursor: pointer;
  margin: 0 60px;
}

.citation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.5;
  max-width: 500px;
  margin: 0 25px;
  border-left: 2px solid white;
  padding-left: 10px;
  transition: opacity 300ms, transform 300ms, background-color 1s, box-shadow 1s;
  padding: 10px;
}

.citation:hover {
  transform: scale(1.35);
  opacity: 1;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 100px rgba(0, 0, 0, 1), 0 0 300px rgba(0, 0, 0, 1);
}

.citation-author {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}

/***************************************** ADAM'S SECTION ******************************************/

.Adam_Content {
  display: flex;
  flex-direction: column;
  min-height: auto;
}
.Adam_Landing {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  min-height: 170vh;
  position: relative;
}

.Adam_Landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/maroc/desert.jpg");
  background-size: 100%;
  background-position: center;
  z-index: -1;
  filter: brightness(0.5);
  pointer-events: none;
}

.Adam_Title {
  font-size: 200px;
  font-weight: 900;
  margin-bottom: 20px;
  opacity: 0.5;
  cursor: default;
  color: rgb(173, 62, 10);
  text-shadow: 3px 3px 6px rgba(26, 26, 26, 0.849);
  transition: opacity 600ms, background-image 600ms;
}

.Adam_Page2::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/maroc/desert.jpg");
  background-size: 100%;
  background-position: center;
  z-index: -1;
  filter: brightness(0.5);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Adam_Title2 {
  font-size: 200px;
  font-weight: 900;
  margin-bottom: 20px;
  opacity: 0.5;
  cursor: default;
  color: rgb(173, 62, 10);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.849);
  transition: opacity 600ms, background-image 600ms;
}

/***************************************** AARON'S SECTION ******************************************/

/***************************************** MIKOLAJ'S SECTION ******************************************/

/***************************************** CLIFFORD'S SECTION ******************************************/
